certifi==2018.10.15
chardet==3.0.4
coverage==4.5.1
coveralls==1.5.1
dj-database-url==0.5.0
Django==2.1.3
django-cors-headers==2.4.0
django-coverage-plugin==1.6.0
django-settings-context-processor==0.2
djangorestframework==3.9.0
docopt==0.6.2
flake8==3.6.0
gunicorn==19.9.0
idna==2.7
mccabe==0.6.1
mimeparse==0.1.3
mock==2.0.0
newrelic==4.4.1.104
pbr==5.1.1
pep8==1.7.1
psycopg2==2.7.5
pycodestyle==2.4.0
pyflakes==2.0.0
python-dateutil==2.7.5
python-mimeparse==1.6.0
pytz==2018.7
PyYAML==3.13
requests==2.20.0
six==1.11.0
urllib3==1.24.1
whitenoise==4.1
