{% extends "base.html" %}
{% load quotations_tags %}

{% block content %}
	<form action="{% url 'list_quotations' %}">
	    <a class="random" href="{% url 'redirect_to_random' %}"><input class="button" value="Random"/></a>
		<input id="search_text" name="search_text" type="text" value="{{ search_text }}"/>
		<input class="button" type="submit" value="Search"/>

	</form>
	<br/>

	{% for quotation in quotations %}
        <a class="header" href="{{ quotation.get_absolute_url }}"><div>{{ quotation.text }}</div>
        <div class="author">{{ quotation.author }}</div></a>
	    <br/>
	{% endfor %}

	{% if not quotations %}
		<div>No quotations found matching '{{ search_text }}'. :(</div>
    <br/>
	{% endif %}

	{% if pages|length > 1 %}
        <div class="pagination">
            <span>
                {% if quotations.has_previous %}
                    <a class="button" href="?{% query_string search_text=search_text page=quotations.previous_page_number %}">prev</a>
	            {% endif %}
                &nbsp;
                {% for page_number in pages %}
                    {% if page_number == quotations.number %}
                        {{ page_number }}
                    {% else %}
                        <a href="?{% query_string search_text=search_text page=page_number %}">{{ page_number }}</a>
                    {% endif %}
                {% endfor %}
                &nbsp;
                {% if quotations.has_next %}
                <a class="button" href="?{% query_string search_text=search_text page=quotations.next_page_number %}">next</a>
	            {% endif %}
            </span>
        </div>
	{% endif %}

{% endblock %}
