<!DOCTYPE html>
<html lang="en">

{% with "The Underquoted" as title %}

<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}base.css" type="text/css" media="screen" />

    <title>{{ title }}</title>
</head>
<body>

<div class="header">
    <span class="title">{{ title }}</span>
	<form action="{% url list_quotations %}">
		<a class="random" href="{% url redirect_to_random %}"><input class="button" value="Random"/></a>&nbsp;&nbsp;&nbsp;&nbsp;
		<input id="search" name="search" type="text" value="{{ search_text }}"/>
		<input class="button" type="submit" value="Search"/>
	</form>

    <div class="small">Quoting the underquoted members of society</div>
</div>

{% block content %}{% endblock %}

{% block footer %}
{% endblock %}

</body>

{% endwith %}

</html>
