<!DOCTYPE html>
<html lang="en">

{% with "The Underquoted" as title %}

<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}base.css" type="text/css" media="screen" />

    <title>{{ title }}</title>
</head>
<body>

<div class="header">
    <span class="title">{{ title }}</span>
    <div class="small">Quoting the underquoted members of society</div>
</div>
<br/>

{% block content %}{% endblock %}

{% block footer %}
{% endblock %}

</body>

{% endwith %}

</html>
